@page
@model Jobs.Pages.Admin.application_manager.indexModel
@{
    ViewData["Title"] = "Applications";
    Layout = "_layout2";
}
<div class="d-flex justify-content-between mt-4">
    <h3>Applications List</h3>
    <div>
        <a asp-page="upsert" class="btn btn-sm btn-info"><i class="mdi mdi-pencil-box-outline"></i> Download </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    </div>
</div>
