<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <style>
            .header-menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
            }

            .top-icons {
                display: flex;
                gap: 20px;
            }

                .top-icons a {
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                }

                    .top-icons a:hover {
                        color: #ccc;
                    }
        </style>
        <link rel="stylesheet" href="~/css/style.css?v=2" />
    </head>
    <body>
        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">Admin</div>
                    <div class="sidebar-btn">
                        <i class="fas fa-bars"></i>
                    </div>

                    <!-- New home and exit icons on the right -->
                    <div class="top-icons">
                        <a href="../Index" title="Home"><i class="fas fa-home"></i></a>
                        <a href="/Logout.aspx" title="Logout"><i class="fas fa-power-off"></i></a>
                    </div>


                </div>

            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    @*<center class="profile">
                            <%--finally I found solution for that in .aspx I
                            added runat="server" to HTML tag <img runat="server"
                                                                  alt=" id="image" Width="600" Height="800"> in aspx.cs
                            I added image.Src = vPath; Now the img tag can view images based on the input of the user--%>                        <%--<img src="/Pictures/jerome.jpg" alt="">--%>
                            <img runat="server" id="user_image" alt="User Image" />
                            <p>
                                <asp:Label ID="label_name" runat="server"></asp:Label>
                            </p>
                        </center>*@
                    <li class="item">
                        <a href="/Employees/employee_dashboard" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-user-circle"></i><span>Application <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="StudentReg.aspx"><i class="fas fa-image"></i><span>Apply</span></a>
                            <a href="addCourses.aspx"><i class="fas fa-upload"></i><span>Upload Documents</span></a>
                    </li>
                    
                    <li class="item" id="view">
                        <a href="#view" class="menu-btn">
                            <i class="fas fa-keyboard"></i><span>View <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="/Employees/employee_details"><i class="fas fa-upload"></i><span>Employees</span></a>
                            <a href="#"><i class="fas fa-keyboard"></i><span>Examination</span></a>
                        </div>
                    </li>


                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-cog"></i><span>Settings <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-lock"></i><span>Password</span></a>
                            <a href="#"><i class="fas fa-language"></i><span>Language</span></a>

                        </div>
                    </li>

                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">
                @RenderBody()
            </div>

            <!--main container end-->
        </div>
        <!--wrapper end-->


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".sidebar-btn").click(function () {
                    $(".wrapper").toggleClass("menucollapse");
                });
            });
        </script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
